Задача 1

In [9]:
import numpy as np
import pandas as pd
from scipy.stats import chi2, chisquare

In [2]:
n = 1311

In [3]:
p = np.array([0.058,0.942])

In [4]:
q = np.array([0.4996, 0.500])

In [5]:
nu = np.array([[14,641],[62,594]])

In [6]:
#степеней свободы у нас (2-1)(2-1) = 1
T = np.sum((nu - (np.outer(q,p)*n))**2/n/np.outer(q,p))

In [14]:
l,r = chi2.interval(0.05, 1)

In [20]:
chi2.pdf(T,1)

7.5303256908347295e-09

In [21]:
if T < r: print "Принимаем"
else: print "Отвегаем"

Отвегаем

*Задача 6*

In [99]:
data = pd.read_table('data.tsv',header=-1)

In [100]:
data = data.drop([1,3,4,5,6],axis=1)

In [101]:
to_drop = []
for i in range(len(data)):
    if data[0][i]=='*' or data[2][i] == '*':
        to_drop.append(i)

data = data.drop(to_drop)

In [137]:
table = [[0,0,0],[0,0,0],[0,0,0]]

In [138]:
for i in data.values:
    table[int(i[0])-1][int(i[1])-1] += 1

In [140]:
table = pd.DataFrame(table)

In [156]:
n = np.sum(np.sum(table))

In [157]:
p = np.sum(table,axis=0)/n

In [158]:
q = np.sum(table,axis=1)/n

In [159]:
nu = table

In [163]:
(nu - np.outer(p,q)*n)**2

            0           1          2
0   41.599087  193.489572   2.690294
1  477.966014   27.326895  37.087456
2   43.392542  151.719829  45.295037

In [183]:
#степеней свободы у нас (3-1)(3-1) = 4
T = np.sum(np.sum((nu - (np.outer(p,q)*n).T)**2/n/np.outer(p,q).T))

In [184]:
T

19.905939519770168

In [191]:
l,r = chi2.interval(0.05, 4)

In [23]:
if T < r: print "Принимаем"
else: print "Отвегаем"

Отвегаем